body{
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    color: #101820FF;
}

.content{    
    padding-top: 65px;
    background: #fff;
}

.logo-header{
    padding: 2px 0 2px;
    background-color: #101820FF;
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 9999;
}

.logo-header .navbar-brand{
    padding: 0;
    font-weight: bold;
    color: #fff;
    font-size: 30px;
    margin: 0;
}

.navbar-light .navbar-brand:focus, 
.navbar-light .navbar-brand:hover{
    color: #fff;
}

.logo-header .navbar-light .navbar-nav .nav-link{
    color: #d5d4d4;
    margin-right: 15px;
}

.logo-header ul li a.joinNow{
    background-image: -webkit-linear-gradient(
0deg,#ff934b 0%,#ff5e62 100%);
    background-image: -ms-linear-gradient(0deg,#ff934b 0%,#ff5e62 100%);
    color: #fff;
    border-radius: 2px;
    padding: 8px 12px 8px;
    line-height: 18px;
    margin-right: 0px;
    text-decoration: none;
    border-radius: 50px;
}

a.btn-primary-link{
    color: #fff;
    border-radius: 2px;
    padding: 8px 20px;
    line-height: 18px;
    margin-right: 0px;
    text-decoration: none;
    border-radius: 50px;
    background: #8529cd;
}

.logo-header .navbar-toggler {
    position: relative;    
    top: 4px;
    padding: 0 0px;
}

.logo-header .navbar-toggler .navbar-toggler-icon {
    display: block;
    margin-bottom: 7px;
    border-radius: 0px;
    width: 1.5em;
}

.logo-header .navbar-toggler .step-1 {
    width: 1.5em;
}

.logo-header .navbar-toggler .step-2 {
    width: 1em;
}

.logo-header .navbar-toggler .step-3 {
    width: 1.5em;
}

.contactUs{
    display: inline-block;
}

.contactUs a{
    text-decoration: none;
    font-size: 14px;
    color: #d5d4d4;
}

.contactUs .dropdown  a.dropdown-item{
    color: #101820;
    padding: 5px 10px;
}

.contactUs a i{
    font-size: 18px;   
    position: relative;
    top: 3px;
}

.contactUs.postLink{

}

.contactUs.postLink a{
    background: #F2AA4CFF;
    padding: 10px 15px 10px;
    border-radius: 2px;
    color: #101820;
    font-weight: 600;
}

.contactUs.postLink a span{
    font-size: 15px;
}

.tabBarIcon{
    fill: #ffffff;
    height: 1.5rem;
    width: 1.5rem;
    float: left;
}

/****************/
.bg-2{
   background: #f3f3f3;
}

.color-white{
    color: #fff ! important;
}

.color-green{
    color: #8db654 ! important;
}


.sub-heading{
    font-size: 18px;
}
/*****************/

.page-header{
     background: #0c244a;
    background: linear-gradient(
    178deg
    ,#1c4a81 -8%,#0c244a 93%);
        color: #fff;
        padding: 12px 0;
}

.dropdown-cat.dropdown-toggle::after {   
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "\eab2";
    font-family: IcoFont!important;
    border-top: none;
    border-right: none;
    border-bottom: 0;
    border-left: none;
    margin-top: 2px;
    position: absolute;
}

/****************************/
/***************************/

.primary-heading{
    color: #101820FF;
    font-weight: 600;
}

.color-secondary{
        color: #e80c5b;
}

.bdr-b{
    border-bottom: 1px solid #eee;
}

.btn-white{
    background: #fff;
    color: #29296e;
    font-weight: 800;
    padding: 7px 14px;
    border-radius: 20px;
    box-shadow: rgb(10 22 70 / 15%) 0px 4px 8px 0px;
}

.light-grey{
    background: #f8f8f8;
}

.bg-red{
    background: #e80c5b;
}

.shadow-bg{
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgb(10 22 70 / 15%);
    -webkit-box-shadow: 0 4px 8px 0 rgb(10 22 70 / 15%);
    -moz-box-shadow: 0 4px 8px 0 rgba(10,22,70,0.15);
    -webkit-box-sizing: border-box;
}

/***********************/
/**********************/

.footer-section{
    padding: 55px 0 5px;
    background: #101820ff;
}

.footer-section .widget-section{
    padding-bottom: 30px;
}

.footer-section .widget-section .widget{

}

.footer-section .widget-section .widget .widget-title{
    color: #f2aa4c;
    font-weight: 400;
    font-size: 20px;
}

.footer-section .widget-section .widget .footer-links{
    list-style: none;
    padding: 0;
}

.footer-section .widget-section .widget .footer-links li{
    margin-bottom: 8px;
    font-size: 15px;
}

.footer-section .widget-section .widget .footer-links li a{
    color: #fff;
    font-size: 13px;
}

.social-footer{
    border-top: 1px solid rgba(255,255,255,.1);
    padding-top: 25px;
}

.social-footer ul{
    padding: 0;
    list-style: none;
    display: block;
    float: right; 
}

.social-footer ul li{
    display: inline-block;
}

.social-footer ul li a{
    font-size: 16px;
    color: #252525;
    background: #b9b9b9;
    padding: 10px 12px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: block;
    margin-left: 15px;
    text-decoration: none;
}

/**********************/
/**********************/



/**********************/


@media (min-width: 1200px){
   .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1355px;
    }  
} 
